{% extends 'base.html' %}

{% load static %}

{% block content %}
        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
				{% for product in object_list %}

                <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a href="{% url 'mainapp:ProductView' product.slug %}">
                        <img src="{{ product.product_photo.cdn_url }}"  alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
							<h4>{{product.name}}</h4>
                            <div class="line"></div>
                            <h4>${{product.price}}</h4>
                            <p>{{product.preview_text}}</p>			
                        </div>
                    </a>
                </div>
				{% endfor %}
              
            </div>
        </div>
        <!-- Product Catagories Area End -->
		{% endblock %}