{% load static %}
{% load cart_tag %}

<!-- Mobile Nav (max width 767px)-->
<div class="mobile-nav">
    <!-- Navbar Brand -->
    <div class="amado-navbar-brand">
        <a {% url 'mainapp:home' %}><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
    </div>
    <!-- Navbar Toggler -->
    <div class="amado-navbar-toggler">
        <span></span><span></span><span></span>
    </div>
</div>
{% if messages %}
<div class="messages container mt-2">
  {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}{% endif %}" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
</div>
{% endif %}

{% block content %}
{% endblock %}
<!-- Header Area Start -->
<header class="header-area clearfix">
    <!-- Close Icon -->
    <div class="nav-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <!-- Logo -->
    <div class="logo">
        <a href="{% url 'mainapp:home' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>
    </div>
    <!-- Amado Nav -->
    <nav class="amado-nav">
        <ul>
            <li class="active"><a href="{% url 'mainapp:home' %}">Home</a></li>
        {% comment %} Show if user has logged in {% endcomment %}
            {% if request.user.is_authenticated %} 
            <li><a href="{% url 'accountsapp:profile' %}">{{ request.user.username }}</a></li>
            <li><a href="{% url 'cartapp:cart' %}">Cart <img src="{% static 'img/core-img/cart.png' %}" alt=""><span class="badge badge-light">({{ request.user| cart_total }})</span></a></li>
            <li><a href="{% url 'accountsapp:logout' %}">Logout</a></li>
        {% comment %} Else if user has has not logged in, show {% endcomment %}
            {% else %}

            <li><a href="{% url 'accountsapp:login' %}">Login</a></li>
            <li><a href="{% url 'accountsapp:register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<!-- Header Area End -->