{% extends 'base.html' %}

{% load static %}  

{% block content %}
     <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="#">{{product.category}}</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <img src="{{ product.product_photo.cdn_url }}" class="img-fluid" alt="">
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">${{product.price}}</p>
                                <a href="product-details.html">
                                    <h6>{{product.name}}</h6>
                                </a>
                                <!-- Ratings -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                            </div>

                            <div class="short_overview my-5">
                                <p>{{ product.detail_text }}</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="POST" action = {% url 'cartapp:add-cart' product.slug %}>
                                {% csrf_token %}
                                <div class="cart-btn d-flex mb-50">
                                    <p>Qty</p>
                                    <input id='quantity' name = 'quantity' type="number" value="1" min='1' aria-label="Search" class="form-control" style="width: 100px">
                                </div>
                                <button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
   {% endblock %}