{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
<div class="my-5">
	<h2>Your Cart</h2>
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  	{% for cart in carts %}
    <tr>
      {% comment %} Row Item {% endcomment %}
      <th scope="row">{{ forloop.counter }}</th>
      {% comment %} Product Name {% endcomment %}
      <td>{{ cart.item.name }}</td>
      
      <td>
      {% comment %} - {% endcomment %}
      <a class="mr-2" href="{% url 'cartapp:decrease-cart' cart.item.slug %}"><span class="badge badge-light"><i class="fas fa-minus"></i></span></a>
      {% comment %} Cart Quantity {% endcomment %}
      {{ cart.quantity }}
      {% comment %} + {% endcomment %}
      <a class="ml-2" href="{% url 'cartapp:increase-cart' cart.item.slug %}" ><span class="badge badge-light"><i class="fas fa-plus"></i></span></a>
      </td>
      
      {% comment %} Item Price {% endcomment %}
      <td>$ {{ cart.item.price }}</td>

      {% comment %} Remove Cart Item {% endcomment %}
      <td><a href="{% url 'cartapp:remove-cart' cart.item.slug %}" class="btn btn-danger mr-2">Remove</a></td>
  
    </tr> 
	{% endfor %}
    <tr>
      {% comment %} Empty {% endcomment %}
      <th scope="row"></th>

      {% comment %} Total  {% endcomment %}
      <td colspan="1">Total</td>
      
      {% comment %} Empty {% endcomment %}
      <th scope="row"></th>

      {% comment %} Subtotal {% endcomment %}
      <td>${{ order.cart_subtotal| floatformat:2 }}</td>
      
      {% comment %} Empty {% endcomment %}
      <th scope="row"></th>
    </tr>
    <tr>
      <th scope="row"></th>
      <td colspan="5" class="text-right ">
        <a href="{% url 'mainapp:home' %}" class="btn btn-warning mr-4" >Continue Shoping</a>
        <button class="btn btn-success mr-4">Proceed To Checkout</button>
      </td>
    </tr>
  </tbody>
</table>
</div>

{% endblock %}