{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="single-product-area section-padding-100 clearfix">
<p>If you already have an account, you can <a class="btn btn-info" href="{% url 'accountsapp:login' %}">sign in</a>.</p>
    <div class="container-fluid">

        <h1>User Registration</h1>
        <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-danger">
        </form>
    </div>
    </div>

{% endblock %}