{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ##### Main Content Wrapper Start ##### -->
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Shopping Cart</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in carts.item.all %}
                                    <tr>
                                        <td>{{ forloop.counter }}
                                        </td>
                                        {% for i in item.cart_product_intermediary_set.all %}
                                        {% comment %} Product Name {% endcomment %}
                                        <td class="cart_product_desc">
                                            <h5>{{ item.name }}</h5>
                                        </td>

                                        <td class="price">
                                            <span>${{ item.price }}</span>
                                        </td>

                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <div class="quantity">
                                                {% comment %} - {% endcomment %}
                                                    <a href="{% url 'cartapp:decrease-cart' item.slug %}"><span class="qty-minus" ><i class="fa fa-minus" aria-hidden="true"></i></span></a>      
                                                {% comment %} Number {% endcomment %}
                                                    <p style='margin-right:-5pt'>{{ i.quantity }}</p>
                                                {% comment %} + {% endcomment %}
                                                    <a href="{% url 'cartapp:add-cart' item.slug %}"><span class="qty-plus" ><i class="fa fa-plus" aria-hidden="true"></i></span></a>
                                                {% comment %} Remove {% endcomment %}   
                                                    <a href="{% url 'cartapp:remove-cart' item.slug %}" class="btn btn-danger mr-2">Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    
                                    {% endfor %}
                                    {% endfor %}
                                
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>delivery:</span> <span>Free</span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a href="{% url 'checkoutapp:checkout' %}" class="btn amado-btn w-100">Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
{% endblock %}